body {
margin: 0;
font-family: Georgia, serif;
background-color: white;
color: #333;
}

.hero {
background: linear-gradient(to right, #C8A2C8, #708238);
color: white;
text-align: center;
padding: 60px 20px;
}

.navbar {
background-color: #708238;
text-align: center;
padding: 15px;
}

.navbar a {
color: white;
margin: 0 20px;
text-decoration: none;
font-weight: bold;
}

section {
padding: 50px 20px;
text-align: center;
}

h2 {
color: #708238;
}

img, video {
width: 90%;
max-width: 600px;
border-radius: 12px;
margin-top: 20px;
}

footer {
background-color: #C8A2C8;
color: white;
text-align: center;
padding: 20px;
}
